body {
background-color: black;
    color: white;
    text-align: center;
    padding-top: 120px;
}

p {
    color: black;
}

button {
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff00;
    color: black;              
    box-shadow: 0 0 10px #00ff00;
    transition: background 0.2s, color 0.2s;
}

#emoji {
    position: fixed;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    transition: right 0.6s cubic-bezier(.68,-0.55,.27,1.55);
    z-index: 100;
    display: none; 
}

#emoji.visible {
    display: inline;
    right: 30px; 
}
